/* Stylesheet for recipes web pages */
.navbar {
    margin: 0;
    background-color: red;
    height: 60px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.navbar a {
    text-decoration: none;
}
.navbar .navitem {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 30px 0px 0px 20px;
    line-height: 55px;
}
body {
    margin: 0;
}
main {
    padding: 1%;
}
h1 {
    color: green;
}
.recipes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.recipes-container .recipe {
    padding: 10px;
    transition: transform 0.3s ease;
}

.recipes-container .recipe:hover {
    border-color: #333;
    transform: scale(1.05);
}
.recipe a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}
.recipe-img {
    padding-top: 10px;
    margin-left: 0;
    width: 200px;
    height: 200px;
}
/* Style for even rows (e.g., white background) */
table tbody tr:nth-child(even) {
    background-color: white;
}

/* Style for odd rows (e.g., grey background) */
table tbody tr:nth-child(odd) {
    background-color: #d3d3d3;
}

footer {
    background-color: #85CC29;
}
footer .footer-content {
    padding: 1%;
    font-weight: bold;
}
